<?xml version="1.0" encoding="utf-8"?>
<manifest
    android:installLocation="auto"
    android:compileSdkVersion="34"
    android:compileSdkVersionCodename="14"
    package="my.owner.app"
    platformBuildVersionCode="34"
    platformBuildVersionName="14"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Allows the app to disable the keylock and any associated password security. For example, the phone disables the keylock when receiving an incoming phone call, then re-enables the keylock when the call is finished. -->
    <uses-permission
        android:name="android.permission.DISABLE_KEYGUARD" />
    <!-- Allows the app to prevent the phone from going to sleep. -->
    <uses-permission
        android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.CHANGE_CONFIGURATION" />
    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="false" />
    <!-- Allows the app to control the vibrator. -->
    <uses-permission
        android:name="android.permission.VIBRATE" />
    <!-- Allows the app to create network sockets and use custom network protocols. The browser and other applications provide means to send data to the internet, so this permission is not required to send data to the internet. -->
    <uses-permission
        android:name="android.permission.INTERNET" />
    <!-- Allows the app to write the contents of your shared storage. -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Allows the app to view information about network connections such as which networks exist and are connected. -->
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Allows the app to view information about Wi-Fi networking, such as whether Wi-Fi is enabled and name of connected Wi-Fi devices. -->
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- This app can record audio using the microphone while the app is in use. -->
    <uses-permission
        android:name="android.permission.RECORD_AUDIO" />
    <!-- Allows an application to request installation of packages. -->
    <uses-permission
        android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- Allows the app to make use of foreground services. -->
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />
    <!-- This app can take pictures and record videos using the camera while the app is in use. -->
    <uses-permission
        android:name="android.permission.CAMERA" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />
    <!-- Allows the app to configure the local Bluetooth phone, and to discover and pair with remote devices. -->
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- Allows the app to view the configuration of the Bluetooth on the phone, and to make and accept connections with paired devices. -->
    <uses-permission
        android:name="android.permission.BLUETOOTH" />
    <uses-permission
        android:name="android.permission.USE_CREDENTIALS" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <!-- This app can get your precise location from location services while the app is in use. Location services for your device must be turned on for the app to get location. This may increase battery usage. -->
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- This app can get your approximate location from location services while the app is in use. Location services for your device must be turned on for the app to get location. -->
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />
    <!-- Allows the app to communicate with Near Field Communication (NFC) tags, cards, and readers. -->
    <uses-permission
        android:name="android.permission.NFC" />
    <uses-feature
        android:glEsVersion="0x20000"
        android:required="true" />
    <!-- Allows the app to read the contents of your shared storage. -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Allows the app to have itself started as soon as the system has finished booting. This can make it take longer to start the phone and allow the app to slow down the overall phone by always running. -->
    <uses-permission
        android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="com.huawei.appmarket.service.commondata.permission.GET_COMMON_DATA" />
    <application
        android:theme="@style/Catroid"
        android:label="App"
        android:icon="@mipmap/ic_launcher"
        android:name="org.catrobat.catroid.CatroidApplication"
        android:debuggable="true"
        android:allowBackup="false"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:extractNativeLibs="true"
        android:usesCleartextTraffic="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:requestLegacyExternalStorage="false">
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="YOUR_API_KEY" />
        <activity
            android:name="org.catrobat.catroid.uiespresso.ui.activity.ProjectUploadDialogTest$ProjectUploadTestActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter
                android:label="@string/app_name">
                <action
                    android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.catrobat.catroid.uiespresso.ui.activity.ConnectBluetoothDeviceActivityTest$ConnectBluetoothDeviceTestActivity"
            android:exported="true" />
        <activity
            android:name="org.catrobat.catroid.ui.SettingsActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:noHistory="true" />
        <activity
            android:name="org.catrobat.catroid.ui.MainMenuActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action
                    android:name="android.intent.action.VIEW" />
                <category
                    android:name="android.intent.category.BROWSABLE" />
                <category
                    android:name="android.intent.category.DEFAULT" />
                <data
                    android:scheme="https"
                    android:host="share.catrob.at"
                    android:pathPattern="/.*/project/.*" />
            </intent-filter>
            <intent-filter>
                <action
                    android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category
                    android:name="android.intent.category.DEFAULT" />
                <data
                    android:scheme="vnd.android.nfc"
                    android:host="ext"
                    android:pathPrefix="/catrobat.com:catroid" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.catrobat.catroid.ui.MarketingActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.catrobat.catroid.ui.NfcTagsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.catrobat.catroid.ui.WebViewActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.catrobat.catroid.ui.ProjectUploadActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:label="@string/stage"
            android:name="org.catrobat.catroid.stage.StageActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="org.catrobat.catroid.ui.ProjectListActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter
                android:label="Import Catrobat Project"
                android:icon="@mipmap/ic_launcher">
                <action
                    android:name="android.intent.action.VIEW" />
                <category
                    android:name="android.intent.category.DEFAULT" />
                <data
                    android:scheme="content" />
                <data
                    android:host="*" />
                <data
                    android:mimeType="*/*" />
                <data
                    android:pathPattern=".*\\.catrobat" />
            </intent-filter>
            <intent-filter
                android:label="Import Catrobat Project"
                android:icon="@mipmap/ic_launcher">
                <action
                    android:name="android.intent.action.VIEW" />
                <category
                    android:name="android.intent.category.DEFAULT" />
                <data
                    android:scheme="content" />
                <data
                    android:mimeType="application/zip" />
                <data
                    android:mimeType="application/x-zip" />
                <data
                    android:mimeType="application/octet-stream" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.catrobat.catroid.ui.ProjectActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="org.catrobat.catroid.ui.SpriteActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action
                    android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="org.catrobat.catroid.ui.SignInActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="org.catrobat.catroid.ui.recyclerview.backpack.BackpackActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="org.catrobat.catroid.ui.ScratchConverterActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="org.catrobat.catroid.ui.ScratchProgramDetailsActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:label="@string/soundrecorder_name"
            android:name="org.catrobat.catroid.soundrecorder.SoundRecorderActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action
                    android:name="android.intent.action.GET_CONTENT" />
                <category
                    android:name="android.intent.category.DEFAULT" />
                <data
                    android:mimeType="audio/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.catrobat.catroid.visualplacement.VisualPlacementActivity"
            android:exported="true" />
        <activity
            android:label="@string/add_sound_music"
            android:icon="@drawable/ic_pocketmusic"
            android:name="org.catrobat.catroid.pocketmusic.PocketMusicActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:noHistory="true" />
        <activity
            android:name="org.catrobat.catroid.bluetooth.ConnectBluetoothDeviceActivity"
            android:exported="true" />
        <activity
            android:name="org.catrobat.catroid.ui.filepicker.FilePickerActivity"
            android:exported="true" />
        <service
            android:name="org.catrobat.catroid.transfers.project.ProjectUploadService"
            android:exported="true" />
        <service
            android:name="org.catrobat.catroid.transfers.project.ProjectDownloadService"
            android:exported="true" />
        <service
            android:name="org.catrobat.catroid.transfers.MediaDownloadService"
            android:exported="true" />
        <service
            android:name="org.catrobat.catroid.utils.notifications.StatusBarNotificationManager$NotificationActionService"
            android:exported="true" />
        <service
            android:name="org.catrobat.catroid.cast.CastService"
            android:exported="false" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:authorities="my.owner.app.fileProvider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar.Bridge"
            android:name="org.catrobat.paintroid.colorpicker.ColorPickerPreviewActivity"
            android:exported="true" />
        <provider
            android:name="org.catrobat.paintroid.MyProvider"
            android:exported="false"
            android:authorities="my.owner.app.fileprovider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
        <activity
            android:theme="@style/PocketPaintSplashTheme"
            android:name="org.catrobat.paintroid.WelcomeActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:theme="@style/PocketPaintSplashTheme"
            android:name="org.catrobat.paintroid.MainActivity"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="android.intent.action.GET_CONTENT" />
                <category
                    android:name="android.intent.category.SELECTED_ALTERNATIVE" />
                <category
                    android:name="android.intent.category.ALTERNATIVE" />
                <category
                    android:name="android.intent.category.DEFAULT" />
                <data
                    android:mimeType="image/*" />
                <data
                    android:scheme="file" />
                <data
                    android:host="*" />
                <data
                    android:pathPattern=".*\\.ora" />
            </intent-filter>
            <intent-filter>
                <action
                    android:name="android.intent.action.SEND" />
                <action
                    android:name="android.intent.action.EDIT" />
                <action
                    android:name="android.intent.action.VIEW" />
                <category
                    android:name="android.intent.category.DEFAULT" />
                <data
                    android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action
                    android:name="android.intent.action.SEND" />
                <action
                    android:name="android.intent.action.EDIT" />
                <action
                    android:name="android.intent.action.VIEW" />
                <category
                    android:name="android.intent.category.DEFAULT" />
                <category
                    android:name="android.intent.category.BROWSABLE" />
                <data
                    android:mimeType="application/zip" />
                <data
                    android:mimeType="application/octet-stream" />
            </intent-filter>
        </activity>
        <provider
            android:name="com.amitshekhar.debug.DebugDBInitProvider"
            android:enabled="true"
            android:exported="false"
            android:authorities="my.owner.app.DebugDBInitProvider" />
        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:exported="false"
            android:multiprocess="true"
            android:authorities="my.owner.app.workmanager-init"
            android:directBootAware="false" />
        <service
            android:name="androidx.work.impl.background.systemalarm.SystemAlarmService"
            android:enabled="@bool/enable_system_alarm_service_default"
            android:exported="false"
            android:directBootAware="false" />
        <service
            android:name="androidx.work.impl.background.systemjob.SystemJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="@bool/enable_system_job_service_default"
            android:exported="true"
            android:directBootAware="false" />
        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:enabled="@bool/enable_system_foreground_service_default"
            android:exported="false"
            android:directBootAware="false" />
        <receiver
            android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver"
            android:enabled="true"
            android:exported="false"
            android:directBootAware="false" />
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryChargingProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action
                    android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action
                    android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryNotLowProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action
                    android:name="android.intent.action.BATTERY_OKAY" />
                <action
                    android:name="android.intent.action.BATTERY_LOW" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$StorageNotLowProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action
                    android:name="android.intent.action.DEVICE_STORAGE_LOW" />
                <action
                    android:name="android.intent.action.DEVICE_STORAGE_OK" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$NetworkStateProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action
                    android:name="android.intent.action.BOOT_COMPLETED" />
                <action
                    android:name="android.intent.action.TIME_SET" />
                <action
                    android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver"
            android:enabled="@bool/enable_system_alarm_service_default"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action
                    android:name="androidx.work.impl.background.systemalarm.UpdateProxies" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver"
            android:permission="android.permission.DUMP"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="false">
            <intent-filter>
                <action
                    android:name="androidx.work.diagnostics.REQUEST_DIAGNOSTICS" />
            </intent-filter>
        </receiver>
        <service
            android:name="androidx.room.MultiInstanceInvalidationService"
            android:exported="false"
            android:directBootAware="true" />
        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="com.google.android.gms.analytics.AnalyticsJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="true"
            android:exported="false" />
        <provider
            android:name="com.squareup.picasso.PicassoProvider"
            android:exported="false"
            android:authorities="my.owner.app.com.squareup.picasso" />
        <meta-data
            android:name="com.huawei.hms.client.service.name:base"
            android:value="base:4.0.3.300" />
        <meta-data
            android:name="com.huawei.hms.min_api_level:base:hmscore"
            android:value="1" />
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity"
            android:exported="false"
            android:excludeFromRecents="true" />
        <service
            android:name="com.google.android.gms.auth.api.signin.RevocationBoundService"
            android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION"
            android:exported="true" />
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.google.android.gms.common.api.GoogleApiActivity"
            android:exported="false" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <provider
            android:name="androidx.lifecycle.ProcessLifecycleOwnerInitializer"
            android:exported="false"
            android:multiprocess="true"
            android:authorities="my.owner.app.lifecycle-process" />
        <meta-data
            android:name="availableLoaded"
            android:value="yes" />
        <provider
            android:name="com.huawei.hms.update.provider.UpdateProvider"
            android:exported="false"
            android:authorities="my.owner.app.hms.update.provider"
            android:grantUriPermissions="true" />
        <activity
            android:theme="@android:style/Theme.Translucent"
            android:name="com.huawei.hms.activity.BridgeActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:configChanges="fontScale|layoutDirection|locale|orientation|screenLayout|screenSize|smallestScreenSize"
            android:hardwareAccelerated="true">
            <meta-data
                android:name="hwc-theme"
                android:value="androidhwext:style/Theme.Emui.Translucent" />
        </activity>
        <activity
            android:name="com.huawei.hms.activity.EnableServiceActivity"
            android:exported="true"
            android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" />
        <provider
            android:name="com.huawei.agconnect.core.provider.AGConnectInitializeProvider"
            android:exported="false"
            android:authorities="my.owner.app.AGCInitializeProvider" />
        <service
            android:name="com.huawei.agconnect.core.ServiceDiscovery"
            android:exported="false" />
        <activity
            android:theme="@style/upsdkDlDialog"
            android:name="com.huawei.updatesdk.service.otaupdate.AppUpdateActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize">
            <meta-data
                android:name="hwc-theme"
                android:value="androidhwext:style/Theme.Emui.Translucent.NoTitleBar" />
        </activity>
        <activity
            android:theme="@style/upsdkDlDialog"
            android:name="com.huawei.updatesdk.support.pm.PackageInstallerActivity"
            android:exported="false"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data
                android:name="hwc-theme"
                android:value="androidhwext:style/Theme.Emui.Translucent" />
        </activity>
    </application>
</manifest>
